image: maven:3-jdk-11

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"

cache:
  paths:
    - .m2/repository/

build:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS compile

test:
  stage: test
  before_script:
    - ./ci/run_tcpdump.sh
  script:
    - mvn $MAVEN_CLI_OPTS verify
  after_script:
    - ./ci/stop_tcpdump.sh

  artifacts:
    when: always
    expire_in: 4 weeks
    paths:
      - udp_traffic.pcap
      - ./**/target/surefire-reports/TEST-*.xml
      - ./**/target/failsafe-reports/TEST-*.xml
      - ./**/target/test.log
    reports:
      junit:
        - ./**/target/surefire-reports/TEST-*.xml
        - ./**/target/failsafe-reports/TEST-*.xml

deploy_snapshot:
  stage: deploy
  before_script:
    - ./ci/setup_gpg.sh
  script:
    # skipTests compiles the tests, but does not execute them
    - mvn $MAVEN_CLI_OPTS -DskipTests=true install deploy -Pdeploy
  environment:
    name: ossrh_snapshots
    url: https://oss.sonatype.org/content/repositories/snapshots
  only:
    - develop
  except:
    variables:
      - $NIGHTLY_TEST