image: maven:3-jdk-11

variables:
  MAVEN_CLI_OPTS: "--batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS compile

test:
  stage: test
  before_script:
    - ./ci/run_tcpdump.sh
  script:
    - mvn $MAVEN_CLI_OPTS verify
  after_script:
    - ./ci/stop_tcpdump.sh

  artifacts:
    when: on_failure
    expire_in: 4 weeks
    paths:
      - udp_traffic.pcap
      - ./**/target/surefire-reports/TEST-*.xml
      - ./**/target/failsafe-reports/TEST-*.xml
      - ./**/ConsoleOutput.txt
    reports:
      junit:
        - ./**/target/surefire-reports/TEST-*.xml
        - ./**/target/failsafe-reports/TEST-*.xml
